@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuiGeneris";
  src: url("./fonts/SuiGeneris.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf") format("truetype");
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shine-effect {
  background: linear-gradient(
    120deg,
    transparent,
    rgba(0, 0, 0, 0.4),
    transparent
  );
  background-size: 200%;
  animation: shine 1s ease-in-out; /* Slow and smooth */
}

.truncate-webkit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Set the number of lines */
  line-clamp: 2; /* Set the number of lines for compatibility */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add this in your global CSS to hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

